## Deliverable 2. Create a Customer Travel Destinations Map.

In [18]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [22]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r'C:\Users\adamp\Desktop\BootCamp\Module_6\WeatherPy\Weather_Database\WeatherPy_Database.csv')
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bethel,US,41.3712,-73.4140,54.48,73,90,3.00,overcast clouds
1,1,Rikitea,PF,-23.1203,-134.9692,75.56,76,99,18.30,overcast clouds
2,2,Amapa,BR,1.0000,-52.0000,85.19,55,100,3.02,overcast clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,51.42,53,40,29.93,scattered clouds
4,4,Marsa Matruh,EG,31.3525,27.2453,72.55,75,100,6.20,overcast clouds

In [24]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Rikitea,PF,-23.1203,-134.9692,75.56,76,99,18.30,overcast clouds
2,2,Amapa,BR,1.0000,-52.0000,85.19,55,100,3.02,overcast clouds
12,12,Acarau,BR,-2.8856,-40.1200,83.77,61,12,16.69,few clouds
18,18,Puerto Ayora,EC,-0.7393,-90.3518,80.56,83,66,11.01,broken clouds
20,20,Kieta,PG,-6.2167,155.6333,79.43,82,90,4.52,overcast clouds
22,22,Mazamari,PE,-11.3258,-74.5308,89.42,45,80,3.60,broken clouds
23,23,Atuona,PF,-9.8000,-139.0333,77.86,71,23,12.88,few clouds
44,44,Bulnes,CL,-36.7423,-72.2985,77.76,16,98,10.54,overcast clouds
46,46,Butaritari,KI,3.0707,172.7902,83.25,71,6,17.00,clear sky
48,48,Cayenne,GF,4.9333,-52.3333,87.84,77,40,4.00,scattered clouds

In [28]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                200
City                   200
Country                199
Lat                    200
Lng                    200
Max Temp               200
Humidity               200
Cloudiness             200
Wind Speed             200
Current Description    200
dtype: int64

In [34]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [36]:
#4b_2. Check df for empty data
clean_df.count()

City_ID                199
City                   199
Country                199
Lat                    199
Lng                    199
Max Temp               199
Humidity               199
Cloudiness             199
Wind Speed             199
Current Description    199
dtype: int64

In [38]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,75.56,overcast clouds,-23.1203,-134.9692,
2,Amapa,BR,85.19,overcast clouds,1.0000,-52.0000,
12,Acarau,BR,83.77,few clouds,-2.8856,-40.1200,
18,Puerto Ayora,EC,80.56,broken clouds,-0.7393,-90.3518,
20,Kieta,PG,79.43,overcast clouds,-6.2167,155.6333,
22,Mazamari,PE,89.42,broken clouds,-11.3258,-74.5308,
23,Atuona,PF,77.86,few clouds,-9.8000,-139.0333,
44,Bulnes,CL,77.76,overcast clouds,-36.7423,-72.2985,
46,Butaritari,KI,83.25,clear sky,3.0707,172.7902,
48,Cayenne,GF,87.84,scattered clouds,4.9333,-52.3333,

In [40]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [51]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df["Hotel Name"].replace("",np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   186
Country                186
Max Temp               186
Current Description    186
Lat                    186
Lng                    186
Hotel Name             186
dtype: int64

In [52]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [68]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [69]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))